#drag-target {
    width: 500px;
    height: 250px;
    border: 1px solid skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#drag-target.disabled {
    background-color: lightslategray;
}

#drag-target>p {
    text-align: center;
    font-size: 2em;
    padding: 0 4em;
}

.dragging {
    background-color: rgba(173, 216, 230, 150);
}
th,
td {
  border: 1px solid;
}

#stats > table, #agg-stats > table {
    width: 80%;
    margin: 0 auto;
    display: block;
    overflow-x: auto;
    border-spacing: 0;
    white-space: nowrap;
}

#agg-stats > table {
    width: min-content;
}

.stat-head th {
    text-align: left;
    padding: 0.5em 1em;
    position: sticky;
}

.stats th, #stats, #agg-stats, td {
    padding: 0.5em 1em;
}