#drag-target {
    width: 500px;
    height: 250px;
    border: 1px solid skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#drag-target.disabled {
    background-color: lightslategray;
}

#drag-target>p {
    text-align: center;
    font-size: 2em;
    padding: 0 4em;
}

.dragging {
    background-color: rgba(173, 216, 230, 150);
}

#report-frame {
    width: 100%;
    object-fit: fill;
    color: white;
    background: #00004f;
    padding: 0;
    margin: 4px;
    font-family: sans-serif;
}

#report-frame h1 {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

#report-frame h1 .battle-result {
    background: grey;
    border-top: 2px solid orangered;
    margin: 2px;
    flex-grow: 2;
    text-align: left;
    padding: 4px;
}

#report-frame h1 .battle-time {
    background: grey;
    margin: 2px;
    flex-grow: 0;
    padding: 4px 20px;
        
    clip-path: polygon(
        0 0,
        85% 0,
        100% 20%,
        100% 100%,
        0 100%
    )
}

.divider {
    background-color: orangered;
    width: 2px;
    margin: 2px;
}

.divider-large {
    background-color: orangered;
    width: 6px;
    margin: 0;
}

#report {
    border: 4px solid grey;
    background: black;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ship.details {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
}

#teams {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 0;
}

.team {
    flex-grow: 1;
}

.team + .team {
    border-left: 4px solid grey;
}

.colors {
    width: 90px;
    display: inline-block;
    padding: 0 3px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin-right: 2em;
}

.stripe1 {
    width: 10px;
    display: inline-block;
}

.stripe2 {
    width: 10px;
    display: inline-block;
}

h3 {
    background: orangered;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h4 {
    text-align: center;
    border-bottom: 2px solid white;
}

.fleet-prefix {
    margin: 0;
    padding: 0;
}

.elimination {
    color: darkred;
    margin: 0;
    text-align: center;
}

.ship {
    border: 6px solid black;
}

.ship.selected {
    border: 6px solid orangered;
}

.ship:not(.selected) {
    cursor: pointer;
}

.ship.details {
    cursor: unset;
}

.ship .stats {
    padding: 1em;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 0;
}

.ship .summary {
    display: flex;
    flex-direction: row;
}

.stats dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stats dt {
    margin-right: 0.5em;
    text-align: right;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 2;
    display: inline;
}

.stats dd {
    display: inline;
    flex-shrink: 1;
    flex-basis: 20%;
    margin: 0;
    flex-grow: 1;
}

.ship .summary .stat, .ship .summary .stat + dd {
    display: none;
}

.ship .summary .stat.crew-status, .ship .summary .stat.crew-status + dd {
    order: 1;
    display: inline;
}
.ship .summary .stat.damage-received, .ship .summary .stat.damage-received + dd {
    order: 2;
    display: inline;
}
.ship .summary .stat.damage-repaired, .ship .summary .stat.damage-repaired + dd {
    order: 3;
    display: inline;
}
.ship .summary .stat.damage-dealt, .ship .summary .stat.damage-dealt + dd {
    order: 4;
    display: inline;
}


.ship.details .summary {
    gap: 3%;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.ship.details .summary .stat, .ship.details .summary .stat + dd {
    flex-basis: 30%;
    display: block;
    text-align: left;
}

.ship.details .summary .stat {
    font-size: small;
    margin-top: 0.5em;
    margin-right: 0;
}
.ship.details .summary .stat + dd {
    font-size: xx-large;
}
.ship.details .stats dt::after {
    content: unset;
}
.ship.details .stats {
    flex-basis: 60%;
    flex-grow: 0;
    flex-shrink: 0;
}

.ship.details .summary .stat.crew-status {
    order: 3;
}
.ship.details .summary .stat.crew-status + dd {
    order: 6;
}
.ship.details .summary .stat.damage-received {
    order: 8;
}
.ship.details .summary .stat.damage-received + dd {
    order: 11;
}
.ship.details .summary .stat.damage-repaired {
    order: 9;
}
.ship.details .summary .stat.damage-repaired + dd {
    order: 12;
}
.ship.details .summary .stat.damage-dealt {
    order: 7;
}
.ship.details .summary .stat.damage-dealt + dd {
    order: 10;
}
.ship.details .summary .stat.combat-power {
    order: 1;
}
.ship.details .summary .stat.combat-power + dd {
    order: 4;
}
.ship.details .summary .stat.distance-travelled {
    order: 2;
}
.ship.details .summary .stat.distance-travelled + dd {
    order: 5;
}
.ship.details .summary .stat.ammo-spent {
    order: 13;
}
.ship.details .summary .stat.ammo-spent + dd {
    order: 16;
}
.ship.details .summary .stat.time-in-contact {
    order: 14;
    flex-basis: 63%;
}
.ship.details .summary .stat.time-in-contact + dd {
    order: 17;
    flex-basis: 63%;
}

.stats dt::after {
    content: ':';
}

.dc-board {
    flex-basis: 50%;
    align-self: center;
}

.dc-board svg {
    width: 100%;
    height: auto;
}

.dc-board .sockets rect {
    display: none;
}

.ship.details .dc-board {
    flex-basis: 33%;
    flex-grow: 0;
    flex-shrink: 1;
}

.ship.details .summary .efficiency-ratings {
    column-gap: 10px;
}
.ship.details .summary .stats h4 {
    border: none;
}

.ship.details .summary .efficiency-ratings .stat {
    display: inline;
    width: 100px;
    flex-basis: 100px;
    text-align: center;
    margin-bottom: 0.75em;
}
.ship.details .summary .efficiency-ratings .rating {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    display: inline;
}

.ship.details .summary .efficiency-ratings .stat.anti-ship {
    order: 1;
}
.ship.details .summary .efficiency-ratings .stat.anti-ship + dd {
    order: 6;
}
.ship.details .summary .efficiency-ratings .stat.missile {
    order: 2;
}
.ship.details .summary .efficiency-ratings .stat.missile + dd {
    order: 7;
}
.ship.details .summary .efficiency-ratings .stat.sensors {
    order: 3;
}
.ship.details .summary .efficiency-ratings .stat.sensors + dd {
    order: 8;
}
.ship.details .summary .efficiency-ratings .stat.missile-defense {
    order: 4;
}
.ship.details .summary .efficiency-ratings .stat.missile-defense + dd {
    order: 9;
}
.ship.details .summary .efficiency-ratings .stat.engineering {
    order: 5;
}
.ship.details .summary .efficiency-ratings .stat.engineering + dd {
    order: 10;
}