#drag-target {
    width: 500px;
    height: 250px;
    border: 1px solid skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#drag-target.disabled {
    background-color: lightslategray;
}

#drag-target>p {
    text-align: center;
    font-size: 2em;
    padding: 0 4em;
}

.dragging {
    background-color: rgba(173, 216, 230, 150);
}

#stats > table {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

#stat-head th {
    text-align: left;
    margin-right: 1em;
}