#graph {
    position: relative;
    top: 20px;
    bottom: 20px;
    width: 100%;
}

.inputs {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center;
    gap: 2%;
}

#graph-inputs.inputs-form {
    align-items: center;
    /* height: 100px; */
    justify-content: center;
}

#outputs {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center;
    gap: 2%;
}

#graph-inputs select {
    height: 100%;
}
